<!DOCTYPE html>
<html lang="<%= dato.site.locales.first %>">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= yield_content :head %>
    <% if build? %>
      <%= stylesheet_link_tag :all %>
    <% end %>
    <%= dato_favicon_meta_tags %>
  </head>
  <body>
    <%= partial 'partials/navbar' %>
    <%= yield %>
    <%= partial 'partials/footer' %>
    <%= javascript_include_tag "all" %>
  </body>
</html
