<div class="navbar navbar-expand-md navbar-light navbar-lewagon">
  <% link_to 'index' do %>
    <%= image_tag "assets/images/twitter_header_photo_1.png", id: "brand-icon" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "#{dato.subtitle.home}", "index", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "#{dato.subtitle.recent_projects}", "#", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "About", "#", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "#{dato.subtitle.testimonials}", "testimonials.html", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "#{dato.subtitle.publications_talks}", "publications.html", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "#{dato.subtitle.contact}", "index.html#contact-form-inquiry", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <% if current_page.path.slice(/ja/) == "ja" %>
          <%= link_to "English", "..", class: "nav-link" %>
        <% else %>
          <%= link_to "日本語", "ja/index.html", class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>

</div>
