<h2><%= dato.subtitle.testimonials %></h2>
  <div class="row white-backfround">
    <div class="col-12">
      <div class="testimonial-card-container">
        <% dato.testimonials.each do |testimonial| %>
          <div class="testimonial-card" style="background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(<%= testimonial.background_image.url %>); border: 16px <%= testimonial.border_color.rgb %>; border-style: solid none;">
            <div class="testimonial">
              <% if current_page.path.slice(/ja/) == "ja" %>
                <p><%= testimonial.comment %></p>
              <% else %>
                <p><strong>"</strong><%= testimonial.comment %><strong>"</strong></p>
              <% end %>
            </div>
            <div class="testimonial-description">
              <% if current_page.path.slice(/ja/) == "ja" %>
                <h5><%= testimonial.affiliation %></h5>
                <p><%= testimonial.title %></p>
                <p><%= testimonial.provider_name %></p>
              <% else %>
                <h5><%= testimonial.provider_name %></h5>
                <p><%= testimonial.title %>, <%= testimonial.affiliation %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
